@import './node_modules/bootstrap/scss/bootstrap.scss';
@import './node_modules/normalize.css/normalize.css';

body {
    padding: 0;
    margin: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    width: 100%;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-width {
    display: flex;
    height: 100%;
    width: 100%;
    flex: 1 1 100%;
}