$gradient: linear-gradient(to right, transparent 0%, transparent 100%),
linear-gradient(to right, rgba(200, 200, 200, 0.05) 15%, lightgrey, rgba(200, 200, 200, 0.05) 85%),
linear-gradient(to bottom, transparent 0%, transparent 100%),
linear-gradient(to bottom, transparent 0%, transparent 100%);

.auth-container {
    box-shadow: 2px 2px 11px 1px rgba(144, 144, 144, 0.5);
    padding: 15px;
    width: 100%;
    height: 400px;
    max-height: 100vh;

    .auth__tabs {
        width: 100%;
        background: $gradient;
        background-size: 5% 0, 100% 1px, 5% 0;
        background-position: 0 100%;
        background-repeat: no-repeat;

        .auth__tab {
            width: 50%;
            padding: 8px 25px;
            text-align: center;
            color: blueviolet;
            font-size: 18px;

            &:hover {
                background: darken(#fff, 15%);
            }

            &.tabSelected {
                background: darken(#fff, 20%);
            }
        }
    }

    .auth__main {
        padding: 15px;
    }
}